mpmath
pytest
pytest-xdist
pytest-timeout
pytest-split
pytest-doctestplus
hypothesis
flake8
flake8-comprehensions
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
